.create-button {
    background-color: #1867ab;
}

form {
    margin: auto;
    width: 50%;
    border: 1px solid #707070;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 10px 5px 5px #707070;
}