#body{
    background-color:#e2f2ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: white;
    text-align: left;
    border-bottom: 1px solid lightgray;
    box-shadow: 10px 5px 5px #707070;
    margin-bottom: 20px;
}
